.comics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 250px;

  h4 {
    font-size: 20px;
  }
}

.comics-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comics-index-item {
  height: 100%;
  margin: 20px;
  position: relative;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;

  .overlay {
    background: black;
    height: 450px;
    width: 300px;
  }

  &:hover {
    outline: 10px solid #db3c32;
  }

  img {
    transition: opacity .25s;

    &:hover {
      opacity: 0.4;
    }
  }

  .comic-title {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 18px;
    padding: 5px;
    color: white;
    pointer-events: none;
  }

  .heart {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    pointer-events: none;
  }
}
