.load-comics-btn {
  height: 50px;
  padding: 10px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  background: #db3c32;
  border: none;
  transition: transform .25s;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}
